.page--content {
  min-height: 100%;
  margin-bottom: -50px;
}

.page--content::after {
  content: "";
  display: block;
}

footer,
.page--content::after {
  height: 50px;
}

footer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
}

footer ul li {
  display: flex;
  margin: 0 .3rem;
  color: #444444;
  /* justify-content: space-between; */
}

footer ul li a {
  color: #444444;
}

@media screen and (min-width: 500px) {
  footer ul li {
    margin: .6rem;
  }
}

@media screen and (min-width: 1441px) {
  footer ul li a {
    font-size: 2rem;
  }
}