.navbar {
  font-size: 18px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin: 0 auto;
  width: 100vw;
}

.main--nav {
  list-style-type: none;
}

.nav--links,
.logo {
  text-decoration: none;
  color: #3F45FF;
}

.main--nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar--toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #3F45FF;
  font-size: 24px;
}


.main--nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

@media screen and (min-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main--nav {
    display: none;
  }

  .logo {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 900;
  }

  .navbar--toggle {
    display: none;
  }
}

@media screen and (min-width: 1450) {
  .navbar {
    height: 1000px;
  }

}