.error {
  background: red;
  color: white;
  padding: 5px 5px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: .5rem 0;
  border-radius: 2px;
}

.success {
  background: green;
  color: white;
  padding: 5px 5px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: .5rem 0;
  border-radius: 2px;
}


form {
  margin: 0 auto;
  width: 300px;
}

input {
  margin-bottom: 3px;
  padding: 10px;
  width: 100%;
  border: 1px solid #CCC
}

button {
  padding: 10px
}

label {
  cursor: pointer
}

#form-switch {
  display: none
}

#register-form {
  display: none
}

#form-switch:checked~#register-form {
  display: block
}

#form-switch:checked~#login-form {
  display: none
}


main {
  display: flex;
  flex-direction: column;
  /* max-width: 400px; */
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 85vh;
  /* padding: 0 .2rem; */
}

/* 
.form {
  background: #ffffff;
  width: 310px;
  height: 370px;
}

.head {
  width: 100%;
  display: flex;
}

.head div {
  width: 50%;
  height: 100%;
  text-align: center;
  background: transparent;
}

.form .head .signup>div:nth-child(1),
.form.head>div :nth-child(2) {
  background: #f5f5f5;
  transition: all .3s ease-in-out;
}

.form .head .signup>div:nth-child(2) {
  background: transparent !important;
  transition: all .3s ease-in-out;
} */


.login--section {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: .1rem;
  min-width: 310px;
  /* box-shadow: 0 8px 6px -6px #666666; */
  -webkit-box-shadow: 0px 1px 2px 2px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 1px 2px 2px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 1px 2px 2px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.login--section__header {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #3F45FF;
  font-weight: 600;
  font-size: 1.4rem;
}

.custom--form {
  font-weight: 400;
  font-size: 1rem;
  max-width: 100%;
}

.custom--form .form--group {
  position: relative;
  padding-top: 16px;
  margin-bottom: 16px;
}

.custom--form .form--group .animated--label {
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  font-weight: 300;
  opacity: 0.5;
  cursor: text;
  transition: 0.2s ease all;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.custom--form .form--group .animated--label:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 2px;
  width: 10px;
  visibility: hidden;
  background-color: #3F45FF;
  transition: 0.2s ease all;
}

.custom--form .form--group.not-empty .animated--label {
  top: 0;
  font-size: 12px;
}

.custom--form .form--group .form--control {
  position: relative;
  z-index: 1;
  border-radius: 0;
  border-width: 0 0 .1rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  height: auto;
  padding: .3rem 0 .3rem;
  width: 100%;
}

.custom--form .form--group .form--control:focus {
  box-shadow: none;
  outline: none;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.custom--form .form--group .form--control:focus~.animated--label {
  top: 0;
  opacity: 1;
  color: #3F45FF;
  font-size: .9rem;
}

.custom--form .form--group .form--control:focus~.animated--label:after {
  visibility: visible;
  width: 100%;
  left: 0;
}

.submit--button input[type=submit] {
  cursor: pointer;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .2rem;
  background-color: #3F45FF;
  color: #ffffff;
  border: #3F45FF;
  font-size: 1.2rem;
  transition: 1s ease all;
}

.submit--button input[type=submit]:hover {
  border: #232994;
}

.instruction {
  display: flex;
}

.instruction__acount {
  color: #444444;
  margin-right: .5rem;
}

.instruction__signup a {
  color: #3F45FF;
}


/* 
.dropbtn:hover {
  background-color: #ffffff !important;
  cursor: pointer;
} */



.signup--section {
  padding: .5rem 1rem 0;
  background-color: #ffffff;
}

.signup--section__header {
  margin: 2rem 0 0;
  text-align: center;
  color: #3F45FF;
  font-weight: 600;
  font-size: 2rem;
}

.custom--form {
  font-weight: 400;
  font-size: 1rem;
  max-width: 100%;
  margin-top: .4rem;
}

.custom--form .form--group {
  position: relative;
  padding-top: 16px;
  margin-bottom: 16px;
}

.custom--form .form--group .animated--label {
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  font-weight: 300;
  opacity: 0.5;
  cursor: text;
  transition: 0.2s ease all;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.custom--form .form--group .animated--label:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 2px;
  width: 10px;
  visibility: hidden;
  background-color: #3F45FF;
  transition: 0.2s ease all;
}

.custom--form .form--group.not-empty .animated--label {
  top: 0;
  font-size: 12px;
}

.custom--form .form--group .form--control {
  position: relative;
  z-index: 1;
  border-radius: 0;
  border-width: 0 0 .1rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  height: auto;
  padding: .3rem 0 .3rem;
  width: 100%;
}

.custom--form .form--group .form--control:focus {
  box-shadow: none;
  outline: none;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.custom--form .form--group .form--control:focus~.animated--label {
  top: 0;
  opacity: 1;
  color: #3F45FF;
  font-size: .9rem;
}

.custom--form .form--group .form--control:focus~.animated--label:after {
  visibility: visible;
  width: 100%;
  left: 0;
}

.submit--button input[type=submit] {
  cursor: pointer;
  width: 100%;
  padding: .5rem;
  margin-bottom: .3rem;
  border-radius: .2rem;
  background-color: #3F45FF;
  color: #ffffff;
  border: #3F45FF;
  font-size: 1.2rem;
  transition: 1s ease all;
}

.submit--button input[type=submit]:hover {
  background-color: #232994;
}

.instruction {
  display: flex;
  margin-top: .8rem;
}

.instruction__acount {
  color: #444444;
  margin-right: .5rem;
}

.instruction__login a {
  color: #3F45FF;
}


@media screen and (min-width: 500px) {
  .main--nav {
    display: block;
  }
}