.error {
  background: red;
  color: white;
  padding: 5px 5px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: .5rem 0;
  border-radius: 2px;
}

.success {
  background: green;
  color: white;
  padding: 5px 5px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: .5rem 0;
  border-radius: 2px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 4px;
  padding: 0.3rem;
  max-width: 70%;
}

.meetup-details {
  padding: .2rem;
}

.meetup {
  display: block;
  margin: .2rem auto;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid #444444;
  cursor: pointer;
  overflow: hidden;
  /* width: fit-content; */
}

.closeBtn i {
  font-size: 1.3rem;
  display: inline-block;
}

.meetup--header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
}


.meetup--image {
  border-radius: 50%;
  margin-left: 0 !important;
  margin-right: .6rem;
  height: 70px;
  width: 70px;
}

.meetup--title {
  font-size: 1rem;
  color: #444444;
  font-weight: 900;
}

.meetup--detail {
  display: flex;
  margin-top: 0.5rem;
  color: #444444;
}

.meetup--detail__label {
  margin-right: 0.6rem;
  font-weight: 800;
}

.tags {
  display: flex;
  margin: 0.3rem 0;
}

.tag {
  margin-right: 0.3rem;
  background-color: #2292a4;
  color: #ffffff;
  padding: 0.4rem 0.3rem 0.3rem;
  border-radius: 0.1rem;
  font-size: .7rem;
}


.top--questions__container {
  height: 70vh;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  z-index: -1;
  overflow: hidden;
}

.questions,
.comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions--label,
.comments--label {
  margin-right: .6rem;
}

.questions--number,
.comments--number {
  background-color: #3F45FF;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: .9rem;
  font-weight: 700;
  transition: .2s ease all;
  cursor: pointer;
}


.questions {
  padding: .6rem;
  background-color: #ffffff;
  color: #444444;
  border-radius: .2rem;
  display: flex;
  flex-direction: column;
  margin-top: .2rem;
}

.questions--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.questions__container {
  background-color: #f5f5f5;
  padding: .4rem;
  height: 70vh;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  overflow: hidden;
  width: 100%;
}

.question__title {
  font-size: 1.7rem;
  color: #3F45FF;
  font-weight: 900;
  margin: .6rem 0;
}

.post--question {
  padding: .5rem .3rem;
  background-color: #3F45FF;
  border-radius: .2rem;
  color: #ffffff;
}


.question {
  padding-bottom: 1.2rem;
  border-bottom: .1px solid #888888;
  margin-top: .6rem;
  cursor: pointer;
}

.question__poster {
  font-size: 1.5rem;
  margin-bottom: .2rem;
  font-weight: 900;
}

.question__time {
  font-size: .8rem;
  color: #444444;
  margin-bottom: .2rem;
}

.question__body {
  margin: .6rem 0;
  font-size: 1rem;
}

.comments--vote {
  display: flex;
}

.comments--vote__item {
  margin-right: .8rem;
  font-size: .8rem;
  cursor: pointer;
  color: #444444;
}

.modal--content {
  padding: 1rem;
}

.post--question__header {
  margin-top: .5rem;
  color: #3F45FF;
  font-weight: 600;
  font-size: 1.4rem;
  display: inline-block;
}


.question--input {
  margin-top: 2rem;
  width: 100%;
}

.question--input textarea {
  width: 98.5%;
}

.submit--button {
  width: 100%;
  margin-top: .6rem;
}

.dropdown .dropbtn {
  margin-right: 0 !important;
}

.topnav a {
  margin-bottom: 0 !important;
  color: #3F45FF !important;
  cursor: pointer;
}

.dummy-login {
  display: none !important;
}


.question--links {
  margin-top: .6rem;
  display: flex;
  flex-direction: column;

}

.question--link {
  text-align: center;
  background-color: #3F45FF;

  width: 100%;
  color: #ffffff;
  padding: 1rem 0;
}

.question--link:hover {
  background-color: royalblue;
}



@media screen and (min-width: 900px) {
  main {
    display: flex;
    flex-direction: row !important;
  }

  .questions {
    width: 70%;
  }

  .meetup-details {
    width: 30%;
    margin-right: .3rem;
  }
}

@media screen and (min-width: 1042px) {
  main {
    height: 83vh;
  }
}