main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}

.landing--page {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/rawpixel-1080855-unsplash.jpg) no-repeat center center fixed;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  height: 100vh;
}

.signup--section {
  padding: .5rem 1rem 0;
  background-color: #ffffff;
}

.signup--section__header {
  margin: 2rem 0 0;
  text-align: center;
  color: #3F45FF;
  font-weight: 600;
  font-size: 1.4rem;
}

.custom--form {
  font-weight: 400;
  font-size: 1rem;
  max-width: 100%;
}

.custom--form .form--group {
  position: relative;
  padding-top: 16px;
  margin-bottom: 16px;
}

.custom--form .form--group .animated--label {
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  font-weight: 300;
  opacity: 0.5;
  cursor: text;
  transition: 0.2s ease all;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.custom--form .form--group .animated--label:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 2px;
  width: 10px;
  visibility: hidden;
  background-color: #3F45FF;
  transition: 0.2s ease all;
}

.custom--form .form--group.not-empty .animated--label {
  top: 0;
  font-size: 12px;
}

.custom--form .form--group .form--control {
  position: relative;
  z-index: 1;
  border-radius: 0;
  border-width: 0 0 .1rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  height: auto;
  padding: .3rem 0 .3rem;
  width: 100%;
}

.custom--form .form--group .form--control:focus {
  box-shadow: none;
  outline: none;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.custom--form .form--group .form--control:focus~.animated--label {
  top: 0;
  opacity: 1;
  color: #3F45FF;
  font-size: .9rem;
}

.custom--form .form--group .form--control:focus~.animated--label:after {
  visibility: visible;
  width: 100%;
  left: 0;
}

.submit--button input[type=submit] {
  cursor: pointer;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .2rem;
  background-color: #3F45FF;
  color: #ffffff;
  border: #3F45FF;
  font-size: 1.2rem;
  transition: 1s ease all;
}

.submit--button input[type=submit]:hover {
  cursor: pointer;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .2rem;
  background-color: #232994;
  color: #ffffff;
  border: #232994;
  font-size: 1.2rem;
}

@media screen and (min-width: 500px) {
  main {
    display: flex;
    flex-direction: row;
    margin: 1.5rem auto;
  }

  .landing--page {
    width: 65%;
  }

  .signup--section {
    padding: 0 1.5rem;
    width: 35%;
  }

}