.avatar {
  display: none;
}

main {
  padding: 0.5rem;
  /* background: #000000; */
  margin: 0.5rem auto;
  max-width: 500px;
}

.nav--links {
  cursor: pointer;
}

.cards {
  width: 100%;
}


.meetup {
  margin: 1rem 1.5rem;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid #444444;
  cursor: pointer;
}

.closeBtn i {
  font-size: 1.3rem;
}

.meetup--header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
}

.meetup--image {
  border-radius: 50%;
  margin-left: 0 !important;
  margin-right: .6rem;
  height: 70px;
  width: 70px;
}

.meetup--title {
  font-size: 1rem;
  color: #444444;
  font-weight: 900;
}

.meetup--detail {
  display: flex;
  margin-top: 0.5rem;
  color: #444444;
}

.meetup--detail__label {
  margin-right: 0.6rem;
  font-weight: 800;
}

.tags {
  display: flex;
  margin: 0.3rem 0;
}

.tag {
  margin-right: 0.3rem;
  background-color: #2292a4;
  color: #ffffff;
  padding: 0.4rem 0.3rem 0.3rem;
  border-radius: 0.1rem;
  font-size: .7rem;
}


.view--message {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.6rem;
}

.view--messages__link {
  cursor: pointer;
}

.view--messages__link span {
  font-size: 1.8rem;
}




@media screen and (min-width: 700px) {

  main {
    max-width: 1000px;
  }

  .cards {
    width: 100%;
    overflow: hidden;
  }

  .meetup--header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }

  .meetup--image {
    border-radius: 50%;
    margin-left: 0 !important;
    margin-right: .6rem;
  }

  .meetup--title {
    font-size: 1rem;
    color: #444444;
    font-weight: 900;
  }

  .meetup {
    width: 25%;
    float: left;
  }

  .navbar {
    display: flex;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main--nav {
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .main--nav li {
    margin: 0;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
  }

  .avatar {
    display: block;
  }

  .nav--links {
    margin-left: 20px;
    transition: 0.05s ease all;
  }

  .menu--item a:hover {
    background: #3f45ff;
    color: #ffffff;
    padding: 0.3em;
    border-radius: 3px;
  }

  .logo {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 900;
  }

  .navbar--toggle {
    display: none;
  }

  /* .meetup--custom__form {
    display: flex;
  } */

  .meetup--custom__form .form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
  }

  .meetup--custom__form .form-group .form-control {
    position: relative;
    z-index: 1;
    border-radius: 0;
    border-width: 0 0 1px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    height: auto;
    /* padding: 3px 0 5px; */
    width: 100%;
    outline: none;
  }

  .meetup--custom__form .form-group {
    position: relative;
    padding-right: 1rem;
    margin-bottom: 16px;
    width: 100%;
  }

  .meetup--custom__form .form-group .animated-label {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    font-weight: 300;
    opacity: 0.5;
    cursor: text;
    transition: 0.2s ease all;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .meetup--custom__form .form-group .animated-label:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10px;
    visibility: hidden;
    background-color: #3f45ff;
    transition: 0.2s ease all;
  }

  .meetup--custom__form .form-group.not-empty .animated-label {
    top: 0;
    font-size: 12px;
  }

  .meetup--custom__form .form-group .form-control {
    position: relative;
    z-index: 1;
    border-radius: 0;
    border-width: 0 0 0.1rem;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    height: auto;
    padding: 0.3rem 0 0.3rem;
    width: 100%;
  }

  .meetup--custom__form .form-group .form-control:focus {
    box-shadow: none;
    outline: none;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }

  .meetup--custom__form .form-group .form-control:focus~.animated-label {
    top: 0;
    opacity: 1;
    color: #3f45ff;
    font-size: 0.9rem;
  }

  .meetup--custom__form .form-group .form-control:focus~.animated-label:after {
    visibility: visible;
    width: 100%;
    left: 0;
  }

  .submit--button {
    padding: 0 !important;
    margin: 0 !important;
  }

  .submit--button input[type="submit"] {
    cursor: pointer;
    width: 20%;
    padding: 2rem;
    margin-bottom: 0.3rem;
    border-radius: 0.2rem;
    background-color: #3f45ff;
    color: #ffffff;
    border: #3f45ff;
    font-size: 1.2rem;
    transition: 1s ease all;
  }

  .submit--button input[type="submit"]:hover {
    background-color: #232994;
  }
}