main {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}


.question--section {
  background-color: #ffffff;
  border-radius: .2rem;
  border: 1px solid #888888;
  margin-top: .6rem;
}

.question {
  padding: 1rem;
  overflow: hidden;
}

.question__poster {
  font-size: 1.5rem;
  margin-bottom: .2rem;
  font-weight: 900;
}

.question__time {
  font-size: .8rem;
  color: #444444;
  margin-bottom: .2rem;
}

.question__body {
  margin: .6rem 0;
  font-size: 1rem;
}

.comments--vote {
  display: flex;
}

.comments--vote__item {
  margin-right: .8rem;
  font-size: .8rem;
  cursor: pointer;
  color: #444444;
}

.comment--section {
  background-color: #ffffff;
  padding: .4rem;
  margin-top: .4rem;
  border-radius: .4rem;
}

.comments--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.comments__container {
  background-color: #f5f5f5;
  padding: .4rem;
  height: 70vh;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  overflow: hidden;
}

.comment__title {
  font-size: 1.7rem;
  color: #3F45FF;
  font-weight: 900;
  margin: .6rem 0;
}

.post--comment {
  padding: .5rem .3rem;
  background-color: #3F45FF;
  border-radius: .2rem;
  color: #ffffff;
}


.comment {
  padding-bottom: 1.2rem;
  border-bottom: .1px solid #888888;
  margin-top: .6rem;
}

.comment__poster {
  font-size: 1.5rem;
  margin-bottom: .2rem;
  font-weight: 900;
}

.comment__time {
  font-size: .8rem;
  color: #444444;
  margin-bottom: .2rem;
}

.comment__body {
  margin: .6rem 0;
  font-size: 1rem;
}


.closeBtn i {
  font-size: 1.3rem;
  display: inline-block;
}

.modal--content {
  padding: 1rem;
}

.post--comment__header {
  margin-top: .5rem;
  color: #3F45FF;
  font-weight: 600;
  font-size: 1.4rem;
  display: inline-block;
}


.comment--input {
  margin-top: 2rem;
  width: 100%;
}

.comment--input textarea {
  width: 98.5%;
}

.submit--button {
  width: 100%;
  margin-top: .6rem;
}


.dropdown .dropbtn {
  margin-right: 0 !important;
}


.modal--content {
  padding: 1rem;
}



@media screen and (min-width: 900px) {
  main {
    display: flex;
    flex-direction: row !important;
    max-width: 70%;
    margin: 0 auto;
  }

  .question--section {
    width: 35%;
    margin-right: .3rem;
    height: 200px;
  }


  .comment--section {
    width: 65%;
  }
}

@media screen and (min-width: 1042px) {
  main {
    height: 83vh;
  }
}