body {
  max-height: 100vh;
}

main {
  height: calc(100vh - 100px);
}

.landing--page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/rawpixel-1080855-unsplash.jpg) no-repeat center center fixed;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.banner {
  padding: 1em;
  color: #ffffff;
}

.banner h2 {
  color: #ffffff;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 900;
}

.banner h1 {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 100;
  line-height: 1.5rem;
}

.button--section {
  margin: 2rem 0;
}

.landing--button {
  color: #ffffff;
  padding: .5rem 1rem;
  background: #3F45FF;
  font-size: 1rem;
  text-align: center;
  border-radius: 50px;
  transition: .1s ease all;
}

.landing--button:hover {
  background-color: #232994;

}

.dropdown {
  margin-top: .2rem;
}



.topnav a {
  margin-bottom: 0 !important;
  color: #3F45FF !important;
  cursor: pointer;
}

.dummy-login {
  display: none !importa
}

@media screen and (min-width: 500px) {

  .main--nav {
    display: flex;
    margin-right: 1.3rem;
  }

  .nav--links {
    margin: 0 .8rem;
    transition: .1s ease all;
  }

  .nav--links:hover {
    background: #3F45FF;
    color: #ffffff;
    padding: .4rem .8rem;
    border-radius: 3px;
  }

  .landing--page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/rawpixel-1080855-unsplash.jpg) no-repeat center center fixed;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  .banner h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .banner h1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  /* main {
    display: flex;
    flex-direction: row;
    margin: 1.5rem auto;
  } */

  .landing--page {
    width: 100%;
  }

  /* .signup--section {
    padding: 0 1.5rem;
    width: 35%;
  } */

}


@media screen and (min-width: 1441px) {
  main {
    height: calc(100vh - 145px);
  }

  .banner h2 {
    font-size: 5rem;
    line-height: 60px;
  }

  .banner h1 {
    font-size: 3rem;
    line-height: 60px;
  }

  .landing--button {
    padding: 1rem 2rem;
    font-size: 3rem;
    margin-top: .8rem;
  }
}